.container-body {
    font-family: Poppins;
    background-color: #f5f5f5;
    background-position: left;
    background-repeat: no-repeat;
    padding: 25px 50px 75px;
}

.container-body p {
    margin: 5px 0;
}

.container-body .container-cotizador {
    display: flex;
}

.container-body .div-form {
    max-width: 40%;
}

.container-body .basic-info,
.container-body .cuppon {
    height: auto;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-sizing: border-box;
}

.container-body .cuppon .radioContainer {
    display: flex;
    align-items: baseline;
}

.container-body .cuppon .radioContainer input {
    margin-right: 10px;
}

.container-body .div-order {
    max-width: 60%;
    width: 66%;
    height: auto;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-left: 20px;
    margin-right: -20px;
    box-sizing: border-box;
}

.container-body .form-title {
    color: #000;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.563em;
    margin: 0;
}

.container-body .form-title2 {
    color: #000;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1em;
    margin: 0;
}

.container-body .block {
    display: block;
}

.container-body .none {
    display: none;
}

.container-body .form-subtitle {
    color: #000;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
}

.container-body .lineaContainerArchivosDevolucion {
    width: 60px;
    height: 5px;
    background: #ff8500;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
}

.container-body .grid-img {
    display: grid;
    gap: 10px;
    padding: 10px;
    place-items: center;
}

.container-body .grid-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.linea-vertical {
  height: 150px; 
  width: 0px; 
  border-left: 2px solid black; 
  margin: 0 10px; 
}

.container-body .grid-img img:last-child {
    border-right: none !important;
}

.container-body .form-grid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-column-gap: 1%;
}

.container-body .form-grid-phone {
    display: grid;
    grid-template-columns: 0.3fr 0.9fr;
    grid-column-gap: 1%;
}

.form-row-formViajeros {
    margin: 0;
    padding: 10px 0;
}

.container-body .form-row-viajeros {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
}

.container-body .small-input {
    width: 100%;
}

.container-body label {
    text-align: left;
    color: #000;
    font-family: Poppins;
    font-weight: 500;
    margin: 10px 0 10px 0;
    font-size: 16px;
}

.container-body .custom-select-viajeros label {
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.container-body .custom-select-viajeros label span {
    font-size: 14px;
    color: #112211;
    font-weight: 400;
}

.container-body .form-success-message {
    text-align: left;
    color: #000;
    font-family: Poppins;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.container-body .radioContainer {
    padding: 5px;
    margin: 15px 0;
    place-items: unset;
    border-radius: 5px;
    border: 1px solid transparent;
}

.container-body .radioContainer label {
    text-align: left;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
    justify-content: center;
    margin: 0 !important;
}

.container-body .orange-text {
    color: #ff7500;
    font-weight: 600;
}

.container-body input::-webkit-outer-spin-button,
.container-body input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.container-body input[type=number] {
    -moz-appearance: textfield;
}

.container-body input[type="text"],
.container-body input[type="number"],
.container-body input[type="tel"],
.container-body input[type="email"],
.container-body input[type="date"],
.container-body select {
    border: 1px solid #dadada;
    border-radius: 7px;
    padding: 5px;
    padding: 8px 10px;
    width: -webkit-fill-available;
    font-family: Poppins;
}

.container-body .btn-positiva label {
    color: white;
    margin: 0;
    padding: 0;
}

.container-body .btn-positiva {
    display: flex;
}

.container-body .btn-positiva input[type="radio"] {
    display: none;
}

.container-body .btn-positiva input[type="radio"]:checked {
    display: block;
}

.container-body .button-row {
    justify-content: center;
    display: flex;
}

.container-body .submit-button-travelers,
.container-body .btn-positiva,
.container-body .js-btn-next,
.container-body .js-btn-prev,
.container-body .btn-success {
    width: auto;
    border-radius: 5px;
    padding: 12px 30px;
    margin-top: 10px;
    background: #ff7500;
    color: #000;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    justify-content: center;
}

.submit-button-travelers:hover,
.btn-positiva:hover,
.js-btn-next:hover,
.js-btn-prev:hover .btn-success:hover {
    background: #ffa700;
}

.submit-button-travelers:focus,
.btn-positiva:focus,
.js-btn-next:focus,
.js-btn-prev:focus,
.btn-success:focus {
    outline: none;
}

.container-body::placeholder {
    color: #ccc;
    padding-left: 10px !important;
    font-family: Poppins;
}

.container-body .container-body .selectcontainer .option-viajeros {
    color: #000 !important;
}

.container-body .error-border {
    border: 1px solid red !important;
}

.container-body .form-row-border-viajeros {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
}
.titulo-precio{
    color: #FF7500;
    font-weight: 600 !important;
}
.container-body .multisteps-form__form .form-row-border-viajeros {
    box-shadow: 0px 4px 16px 0px #0000000d;
}

.container-body .paso2,
.container-body .paso1 {
    overflow-y: auto;
    height: 720px;
}

.container-body input[type="date"] {
    width: -webkit-fill-available;
}

.container-body input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
}

.container-body input[type="radio"]:checked {
    border-color: #000;
    width: 16px;
    height: 16px;
}

.container-body input[type="radio"]:checked::before {
    content: "";
    width: 13px;
    height: 13px;
    background-color: #ff7500;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-body input[type="checkbox"] {
    accent-color: #e74c3c;
    width: 16px;
}


.container-body .modal-viajerosGen {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.container-body .modal-cont-viajeros {
    display: block;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: min-content;
}

.container-body .modal-cont-viajeros .modal-text {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-body .modal-cont-viajeros .modal-text span {
    font-size: 25px;
    font-weight: 600;
}

.container-body .modal-cont-viajeros .modal-text #showName {
    font-size: 16px !important;
    font-weight: 400;
}

.container-body .modal-cont-viajeros .modal-text #showcodeReference {
    border: 1px solid gray;
    padding: 5px 10px;
    font-size: 16px;
}

/* Este es el selector corregido y mejorado */
#showcodeReference {
    border: 1px solid gray;
    padding: 10px 15px;
    /* Un poco más de espacio para que se vea mejor */
    font-size: 16px;
    /* ---- Estilos recomendados basados en tu JS ---- */
    /* Tu JS inserta un ícono y texto, 'flex' los alineará correctamente */
    display: flex;
    align-items: center;
    /* Centra el ícono y el texto verticalmente */
    gap: 10px;
    /* Añade un espacio entre el ícono y el texto */
    margin-top: 15px;
    /* Le da un espacio superior para separarlo */
}

.container-body .modal-cont-viajeros .modal-text .imgModal {
    width: 98px;
    height: auto;
}

.container-body .modal-cont-viajeros .modal-text .imgModal-toast {
    width: 30px;
    height: auto;
}

.container-body .close-btn-viajeros {
    color: #fff;
    padding: 0px 13px;
    border-radius: 56px;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
    border: none;
}

.container-body .modal-header {
    justify-content: end;
    display: flex;
    border: none;
    padding: 0;
}

.container-body .close-btn-viajeros:hover {
    background-color: #fff;
    border: none;
}

.container-body .flex {
    display: flex;
    flex-wrap: nowrap;
}

.cont-viajeros-titu {
    display: flex;
    flex-direction: column;
}

.container-body .input-date {
    width: 100%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-body .custom-select-viajeros {
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    font-family: Poppins;
}

.multisteps-form__progress-btn.js-active h3.pasos {
    color: #ff7500;
    font-size: 20px;
    font-weight: 600;
}

.multisteps-form__progress p {
    font-size: 17px;
    font-weight: 400;
    color: #0D2333;
    opacity: 40%;
}

.container-body .select-display-viajeros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.container-body .arrow-viajeros {
    margin-left: 10px;
}

.options-viajeros-container {
    display: none;
}

.container-body .options-viajeros-container {
    position: absolute;
    width: -webkit-fill-available;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    padding: 10px 30px;
    font-size: 16px;
}

.container-body .option-viajeros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container-body .ages-container input {
    display: block;
    margin: 5px 0;
    padding: 5px;
    width: 83%;
}

.cont-plus-viaj h3 {
    font-size: 26px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 0px;
    line-height: 1.2;
}

.container-body .ages-container h4 {
    margin: 10px 0 5px;
}

.container-body .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.container-body .buttons-container button {
    margin-left: 10px;
    padding: 10px 30px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 16px;
}

.container-body .buttons-container button.clean-btn-travelers {
    background-color: #173748;
}

.container-body .buttons-container button.apply-btn-travelers {
    background-color: #ff7500;
}

.container-body .travelers-count p {
    font-size: 14px;
}

/* --- ESTILOS PARA LOS PASOS COMPLETADOS --- */
.container-body .multisteps-form__progress-btn.js-completed {
    border-bottom: 4px solid #ff7500;
}

.container-body .multisteps-form__progress-btn.js-completed h3,
.container-body .multisteps-form__progress-btn.js-completed p {
    color: #868e96;
    opacity: 1;
}

.multisteps-form__progress-btn.js-active h3.pasos {
    color: #ff7500;
}

.linea-gris {
    border: none;
    height: 1px;
    background-color: #D7E2EE !important;
    width: 100%;
    margin: 8px 0;
}

.text-right {
    text-align: right !important;
}

.container-body .btn-count button {
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    cursor: pointer;
    margin: 0 2px;
    width: 34px;
    height: 33px;
    color: #000;
}

.container-body .btn-count button:focus {
    color: #FF7500;
}

.container-body .step {
    display: none;
}

.container-body .step.active {
    display: block;
}

.container-body .empty-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.container-body .empty-form img {
    width: 150px;
}

.container-body .multisteps-form {
    width: 100%;
}

.container-body .multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    box-shadow: 0px 4px 16px 0px #1122110d;
    padding: 16px 24px 0 24px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.container-body .multisteps-form__title {
     margin: 0 0 18px;
}

.container-body .multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: rgba(108, 117, 125, 0.7);
    border: none;
    background-color: transparent;
    outline: none !important;
    display: grid;
    border-bottom: 3px solid #fff;
    padding: 16px;
    text-align: justify;
    font-size: 16px;
    cursor: pointer;
}

.container-body .multisteps-form__progress-btn h3 {
    font-size: 20px;
    font-weight: 600;
}

.container-body .showAfterModal {
    display: block !important;
}

.container-body .multisteps-form__progress-btn:after {
    position: absolute;
    top: 15px;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 1px;
    height: 40px;
    content: "";
    background-color: #d7e2ee;
    z-index: 1;
}

.container-body .multisteps-form__progress-btn {
    font-weight: 400;
}

.container-body .multisteps-form__progress-btn.js-active {
    font-weight: 600;
}

.container-body .multisteps-form__progress-btn:first-child:after {
    display: none;
}

.container-body .multisteps-form__progress-btn.js-active {
    color: #000;
    border-bottom: 4px solid #ff7500;
    transition: 0.3s;
}

.container-body .multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
}

.container-body .multisteps-form__form {
    position: relative;
}

.container-body .multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.container-body .multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.container-body .multisteps-form__panel[data-animation="scaleOut"] {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container-body .multisteps-form__panel[data-animation="scaleOut"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.container-body .multisteps-form__panel[data-animation="slideHorz"] {
    left: 50px;
}

.container-body .multisteps-form__panel[data-animation="slideHorz"].js-active {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
    transition-delay: 0s;
    left: 0;
}

.container-body .multisteps-form__panel[data-animation="slideVert"] {
    top: 30px;
}

.container-body .multisteps-form__panel[data-animation="slideVert"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    top: 0;
}

.container-body .multisteps-form__panel[data-animation="fadeIn"].js-active {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.container-body .multisteps-form__panel[data-animation="scaleIn"] {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.container-body .multisteps-form__panel[data-animation="scaleIn"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.container-body .card-plan {
    border: 2px solid #f2f2f2;
    padding: 20px 15px 20px 15px;
    border-radius: 10px;
    transition: border 0.3s ease;
    display: block;
}

.container-body .card-plan:hover {
    cursor: pointer;
    box-shadow: 0px 4px 16px 0px #1122110d;
    transition: border 0.3s ease;
}

.container-body .card-plan.checked {
    border: 2px solid #007bff;
}

.container-body .box-select {
    padding: 0;
}

.container-body .box-select input,
.container-body .box-select2 input {
    display: none;
}

.container-body .box-select input[type="radio"]:checked+.card-planSelect1 {
    border: 2px solid #ff6b00;
    box-shadow: 0px 4px 16px 0px #1122110d;
}

.container-body .box-select2 input[type="radio"]:checked+.card-planSelect2 {
    border: 2px solid #173748;
    box-shadow: 0px 4px 16px 0px #1122110d;
}

.container-body .card-plan1 {}

.container-body .card-plan2 {
    margin-top: 20px;
}

.container-body .card-plan1:hover {
    border: 2px solid #ff6b00;
}

.container-body .card-plan2:hover {
    border: 2px solid #173748;
}

/*.container-body .box-select2 input[type="radio"]:checked + .card-plan2 {
  border: 2px solid #173748;
  box-shadow: 0px 4px 16px 0px #1122110d;
}*/
.container-body .card-plan1 label.btn-positiva {
    width: 33%;
    background-color: #ff7500;
    margin: 0;
    height: 48px;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 7px;
}

.container-body .card-plan2 label.btn-positiva {
    width: 33%;
    background-color: #173748;
    margin: 0;
    height: 48px;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-body .card-plan-details p {
    width: 80%;
    padding: 12px 0;
    margin: 0;
    margin-right: 7px;
}

.container-body .card-plan1 .card-plan-details .toggle-details {
    background: #fbd3b54c;
    color: #ff6b00;
    width: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}

.container-body .card-plan2 .card-plan-details .toggle-details {
    background: #17374812;
    color: #173748;
    width: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}

.container-body .card-plan1 table .detailsTitle {
    background-color: #ff7500;
    border-radius: 35px;
    height: 36px;
    color: #173748;
}

.container-body .card-plan2 table .detailsTitle {
    background-color: #ff7500;
    border-radius: 35px;
    height: 36px;
    color: #173748;
}

.container-body .details-hidden table tr th, .container-body .details-hidden table tr td {
    border-bottom: 1px solid #EEEEEE;
    padding: 10px;
    font-size: 14px;
}

.container-body .card-plan-flex {
    display: flex;
    flex-direction: row;
}

.container-body .card-plan-title {
    width: 33%;
    border-right: 2px solid #d7e2ee;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.container-body .card-plan-title img {
    width: 35px;
    margin-right: 10px;
}

.container-body .card-plan-title span {
    font-weight: 400;
    font-size: 17px;
}

.cont-plus-viaj {}

.container-body .card-plan-price {
    background: #f9faf9;
    border-radius: 10px;
    padding: 15px;
    width: auto;
    color: #6e6e6e;
}

.container-body .card-plan-price p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.container-body .card-plan-price p span {
    font-size: 19px;
    font-weight: 600;
}

.container-body .checkout .card-plan-price p {
    font-size: 22px;
}

.container-body .card-plan-description {
    width: 70%;
    padding-left: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.container-body .card-plan-description h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.03em;
}
.container-body .radioContainer.radioContainer3{
    margin: 0; 
  padding: 0;
}
.container-body ul {
    list-style: none;
    padding: 0;
}

.container-body .card-plan-description ul li {}

.container-body ul li::before {
    content: url("https://webserver-portalsegurospositiva-uat.lfr.cloud/documents/2978451/4402997/check.svg/ffb3dbec-82fd-69a7-747c-7cee05f32e0c?t=1732808723354");
    margin-right: 10px;
}

.container-body .card-plan-details {
    margin-top: 20px;
}

.container-body fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.container-body .input-details-plan {
    display: none;
}

.container-body .label-details-plan {
    display: block;
    width: 67%;
    overflow: hidden;
    margin: 0 15px 0 0 !important;
}

.container-body .card-plan input[type="radio"]:checked+.label-details-plan {
    border: 2px solid #3b73f1;
    padding: 20px 35px;
    margin-top: 0;
    border-radius: 20px;
    background: #3b73f117;
}

.container-body .details-hidden {
    height: auto;
    overflow-y: auto;
}

.container-body .vigency-data {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background: #f9faf9;
    font-size: 12px;
    font-weight: 400;
    color: #6e6e6e;
    display: flex;
}

.container-body table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 100%;
}

.container-body table tr th,
.container-body table tr td {
    border: none;
    padding: 5px !important;
    background: #ffff !important;
    border-bottom: none !important
}

.container-body table tr th {
    border-bottom: 1px solid #bbb;
    text-align: left;
    font-weight: 400;
}

.container-body .two-columns {
    display: flex;
    flex-direction: row;
}

.container-body .one-column {
    width: 50%;
    margin-right: 10px;
}

.container-body #form-children label {
    font-size: 14px;
}

.container-body .origin-input {
    background: url("https://positivapruebas.com.co/wp-content/uploads/Cotizador-viajeros-positiva-icono-origen.svg");
}

.container-body .destino-input {
    background: url("https://positivapruebas.com.co/wp-content/uploads/Cotizador-viajeros-positiva-icono-destino.svg");
}

.container-body .date-input {
    background: url("https://positivapruebas.com.co/wp-content/uploads/Cotizador-viajeros-positiva-icono-calendario.svg");
    padding-left: 35px !important;
}

.container-body .viajeros-input {
    background: url("https://positivapruebas.com.co/wp-content/uploads/Cotizador-viajeros-positiva-icono-personas.svg");
}

.container-body .origin-input,
.container-body .destino-input,
.container-body .date-input,
.container-body .viajeros-input {
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 30px !important;
}

.container-body .acordeon__item {
    border-bottom: 1px solid #dadada;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.container-body .acordeon .acordeon-input {
    display: none;
}

.container-body .acordeon__titulo {
    padding: 15px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container-body .acordeon__contenido {
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.5s;
}

.container-body .acordeon input:checked~.acordeon__contenido {
    height: auto;
    margin: 15px 0;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ff7500;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
    background: #e56400;
}

#detailsHidden2::-webkit-scrollbar-thumb {
    background: #173748;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

#detailsHidden2::-webkit-scrollbar-thumb:hover {
    background: #173748;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.error-message-viajeros {
    color: #e60003;
    display: none;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.03em;
}

.container-body .modal-toast-gen .modal {
    /*display: flex !important;*/
    background-color: transparent !important;
    z-index: 9;
}

.container-body .modal-toast-gen .modal-cont-viajeros {
    margin: 0;
    position: absolute;
    right: 0px;
    top: 10px;
    box-shadow: 0px 4px 16px 0px #0000000d;
    border: none;
    width: 54%;
}

.container-body .modal-toast-gen .modal-text {
    flex-direction: row;
    align-items: start;
    text-align: start;
    justify-content: flex-start;
    margin-right: 15px;
    border-left: 5px solid red;
    border-radius: 5px;
}

.container-body .modal-toast-gen .modal-text img {
    margin: 5px 10px;
    width: 24px;
    height: 24px;
}

.container-body .modal-toast-gen .modal-text span {
    font-size: 16px;
    font-weight: 600;
}

.container-body .modal-toast-gen #closeModaltToast {
    background: transparent;
    border: none;
    color: gray;
    cursor: pointer;
}

.container-body .ida-vuelta {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.container-body .ida-vuelta img {
    width: 100%;
}

.container-body .ida-vuelta h4 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}

.container-body .ida-vuelta div {
    display: flex;
    justify-content: center;
    width: 33%;
    flex-direction: column;
    align-items: center;
}

.container-body .rowContainerInput {
    flex-wrap: wrap;
    gap: 0px 10px;
    display: flex;
}

.container-body .rowContainerInput .ageDivInput {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container-body .rowContainerInput .age-input.viajeros-input {
    width: 80%;
}

.carrito-viajeros>.flex {
    align-items: flex-start;
}

/* Contenedor para alinear checkbox, etiqueta e ícono de info */
.checkbox-info-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

/* Ajustes al checkbox para que se alinee bien */
.checkbox-info-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 1px solid #dadada;
    border-radius: 4px;
    margin: 0;
    flex-shrink: 0;
}

/* Ajustes a la etiqueta del checkbox */
.checkbox-info-container label {
    margin: 0;
    font-weight: 400;
    flex-grow: 1;
}

/* Estilo para el ícono de información */
.info-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    /* Evita que el ícono se encoja */
}

/* --- ESTILOS PARA LA FLECHA DEL ACORDEÓN CON DOS IMÁGENES --- */

/* Estilo para el contenedor de las flechas */
.acordeon-arrow-container {
    width: 20px;
    /* Ancho fijo para el contenedor */
    height: 20px;
    /* Alto fijo para el contenedor */
}

/* Por defecto, la flecha hacia arriba está oculta */
.acordeon-arrow.arrow-up {
    display: none;
}

.acordeon-arrow {
    width: 100%;
    height: 100%;
}

/* Cuando el acordeón está activo (abierto)... */
.container-body .acordeon input:checked~.acordeon__titulo .arrow-down {
    display: none;
    /* ...ocultamos la flecha hacia abajo. */
}

.container-body .acordeon input:checked~.acordeon__titulo .arrow-up {
    display: block;
    /* ...y mostramos la flecha hacia arriba. */
}

@media (max-width: 997px) {
    .container-body {
        padding: 25px 20px 75px;
    }

    .container-body .container-cotizador {
        display: block;
    }

    .container-body .empty-form {
        height: 1300px;
    }

    .container-body .div-form,
    .container-body .div-order {
        width: 100%;
        margin: 0;
        margin-top: 15px;
        max-width: 100%;
        padding: 10px;
    }

    .container-body .div-order {
        min-height: 1300px;
    }

    .container-body .card-plan .flex {
        flex-direction: column;
    }

    .container-body .form-row-formViajerosDate {
        display: block;
    }

    .container-body .card-plan-flex {
        flex-direction: column;
    }

    .container-body .card-plan-title,
    .container-body .card-plan-description {
        width: 100%;
        border: none;
    }

    .container-body .card-plan-title {
        display: flex;
    }

    .container-body .card-plan-title .flex {
        margin-right: 20px;
    }

    .container-body .card-plan1 label.btn-positiva,
    .container-body .card-plan2 label.btn-positiva {
        margin-top: 15px;
        width: auto;
    }

    .container-body .multisteps-form__progress {
        grid-template-columns: none;
    }

    .container-body .btn-count button {
        padding: 5px 10px;
    }

    .container-body .btn-count {
        display: flex;
        align-items: center;
    }

    .container-body .buttons-container {
        flex-direction: column;
    }

    .container-body .apply-btn-travelers {
        margin-top: 15px;
    }

    .container-body .form-grid-phone {
        grid-template-columns: 1fr;
    }

    .container-body .grid-img {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    .container-body .grid-img img {
        border: none;
    }

    .container-body .multisteps-form__form .checkout {
        flex-direction: column;
    }

    .container-body .modal-cont-viajeros {
        width: 75%;
        height: fit-content;
    }

    .container-body .ida-vuelta {
        flex-direction: column;
    }

    .container-body .ida-vuelta div {
        width: 100%;
    }

    .container-body .option-viajeros {
        flex-direction: column;
    }

    .container-body .rowContainerInput {
        display: block;
        width: 80%;
    }

    .container-body .rowContainerInput .ageDivInput {
        width: 100%;
    }

    .container-body .rowContainerInput .age-input.viajeros-input {
        width: 100%;
    }

    .container-body .form-grid {
        grid-template-columns: 1fr;
    }

    .container-body .modal-toast-gen .modal-cont-viajeros {
        width: 95%;
    }
    .container-body .label-details-plan {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1680px) {
    .container-body {
        padding: 50px 200px 75px;
    }
}