@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.containerAhorroComplementario {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.acordeonAhorroComplementario {
    margin-bottom: 1em;
}

.h2AhorroComplementario {
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0;

}

.hrAhorroComplementario {
    width: 60px;
    height: 5px;
    background-color: #FF8500;
    border-radius: 10px;
    margin-left: 0;
    border: none;
}

.headerAcordeonAhorroComplementario.cerrado {
    padding: 20px;
    background-color: #F7F7F7;
    display: flex;
    gap: 8px;
    border: 1px solid #D9DCE3;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}

.headerAcordeonAhorroComplementario>h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    max-width: 516px;

}

.headerAcordeonAhorroComplementario>img {
    width: 40px;
}

.pAcordeonAhorroComplementario.cerrado {
    display: none;
}

.acordeonAhorroComplementario.abierto {
    padding: 30px 40px;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid #EDEDED;

}

.pAcordeonAhorroComplementario {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5D6977;

}

.headerAcordeonAhorroComplementario.abierto {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.containerAcordeones {
    margin-top: 50px;
}

.textoNarajanP {
    font-weight: 700;
    color: #FF7500;
    text-decoration: none;
}
a.textoNarajanP,
a.textoNarajanP:link,
a.textoNarajanP:visited,
a.textoNarajanP:hover,
a.textoNarajanP:active,
a.textoNarajanP:focus {
    font-weight: 700;
    color: #FF7500;
    text-decoration: none;
}


@media (max-width: 768px) {
    .h2AhorroComplementario {
        font-size: 32px;
    }

    .hrAhorroComplementario {
        width: 60px;
        height: 5px;

    }
}